.day {
  display: flex;
  justify-content: space-between;
}

.day * {
  flex: 1;
}

.day p {
  text-align: left;
}

.day i {
  flex: 2;
}

.high-low {
  display: flex;
  justify-content: space-between;
}

.high-low *:first-child {
  text-align: left;
}

.high-low *:last-child {
  text-align: right;
}

.low {
  color: #a9a9a9;
}
