.selected-location {
  margin: 25px 0 50px 0;
}

.selected-location * {
  text-align: center;
}

.current-temp {
  font-size: 4rem;
  margin: 0;
}

.pad * {
  margin-left: 7px;
  margin-right: 7px;
}

.parameter-column {
  display: flex;
  flex-direction: column;
}

.parameter-row {
  display: flex;
}

.parameter-row * {
  flex: 1;
  margin: 0px;
  text-align: left;
}
